<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="./css/my-style.css" />
</head>
<body>
  <header>HOMEPAGE</header>
  <nav>
    <ol>
      <li><a href="/question1">Question 1</a></li>
      <li><a href="/question2">Question 2</a></li>
      <li><a href="/question3">Question 3</a></li>
      <li><a href="/question4">Question 4</a></li>
      <li><a href="/question5">Question 5</a></li>
      <li><a href="/question6">Question 6</a></li>
      <li><a href="/question7">Question 7</a></li>
      <li><a href="/question8">Question 8</a></li>
      <li><a href="/question9">Question 9</a></li>
      <li><a href="/question10">Question 10</a></li>
    </ol>
  </nav>
</body>
